{% set title="Admin start page" %}
{% set contentwidth="span12" %}
{% extends "main.html" %}

{% block content %}

{# friendly messages #}
{% if message %}
    <p class="message"> {{ message }}</p>
{% endif %}

{# error messages #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <hr/> <p class="error"> {{ message }} </p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h2>Participant Management</h2>

<p><a href="show-participants.html">Show and manage applications</a></p>


<h2>Extras Management</h2>

<p><a href="show-extras.html">Show and manage extras bookings</a></p>
<p><a href="/initialize-room-assignments.html">Initialize room assignments</a></p>
<p><a href="room-planner.html">Room planner</a></p>

<h2>Emails to Participants</h2>

<p><a href="mailtool.html">Mail Tool</a></p>
<p><a href="mailarchive.html">Mail Archive</a></p>

<h2>Other</h2>

<p><a href="offline-participants.html">Offline editing of participants (Excel spreadsheet)</a></p>

{% endblock %}