{% set title="Admin start page" %}
{% set contentwidth="span12" %}
{% extends "main.html" %}

{% block content %}

{# friendly messages #}
{% if message %}
    <p class="message"> {{ message }}</p>
{% endif %}

{# error messages #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <hr/> <p class="error"> {{ message }} </p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h2>Participant Management</h2>

<p><a href="show-participants.html">Show and manage applications</a></p>
<p><a href="offline-participants.html">Offline editing of participants (Excel spreadsheet)</a></p>
<p><a href="discount_codes.html">Generate discount codes</a></p>
<p><a href="osmmap.html">Map of participants</a></p>


<h2>Extras Management</h2>

<p><a href="show-extras.html">Show and manage extras bookings</a></p>
<p><a href="/initialize-room-assignments.html">Initialize room assignments</a></p>
<p><a href="room-planner.html">Room planner</a></p>

<h2>Emails to Participants</h2>

<p><a href="mailtool.html">Mail Tool</a></p>
<p><a href="mailarchive.html">Mail Archive</a></p>

<h2>Printed Materials</h2>

<p><a href="badges.pdf">Generate Badges</a></p>
<p><a href="guest-badges.pdf">Generate Badges for Guests</a></p>
<p><a href="dancecard.pdf">Generate Dance Card</a></p>
<p><a href="dancecard-stickers.pdf">Generate Dance Card Stickers</a></p>
<p><a href="envelope-stickers.pdf">Generate Envelope Stickers</a> (including for guest quartet)</p>
<p><a href="randomquartets.xlsx">Generate Random Quartet Assignments</a></p>


<h2>Other</h2>

<p><a href="show-log.html">Show server logfile</a></p>


{% endblock %}
