{% extends "main.html" %}
{% import "macros.html" as m %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <hr/> <p class="error"> {{ message }} </p>
        {% endfor %}
    {% endif %}
{% endwith %}

<p>On this page, you can apply to participate in {{ conf_data["shortname"] }}. Please be sure you
    have read <a href="http://www.europeanharmonybrigade.org/">what a Harmony Brigade is</a> and
    <a href="http://www.europeanharmonybrigade.org/faq/">how we handle applications</a> before you apply.
    In particular, note that your application is complete only when you have
    paid the registration fee of € {{ conf_data["s_application_fee"] }} in full via Paypal. If your application is not accepted, we will reimburse this fee to you via Paypal as quickly
    as we can.</p>

<p>The information you submit will be held in confidence. We may share
    it among the organizing team in order to review the applications, but
    we will never give it to a third party.</p>

<p><strong>EHB sponsorship program:</strong>
    If you are a great singer and the only thing that holds you back from
    coming to {{ conf_data["shortname"] }} is the registration fee, we may be able to reduce
    or even waive your registration fee. Note that we can only offer this
    for a small number of participants, due to financial constraints.
    To apply for such support,
    please  <a href="http://www.europeanharmonybrigade.org/about/">contact an organizer</a>
    with a brief explanation of why we should consider you for
    sponsorship. Your email will be held in the utmost confidence.
</p>


<form class="form-horizontal" action="apply.html" method="post">
    <fieldset>

        {{ m.header("section1", "<strong>Information about yourself</strong>") }}

        {{ m.wtf(form.email) }}
        {{ m.wtf(form.firstname) }}
        {{ m.wtf(form.lastname) }}
        {{ m.wtf(form.gender) }}

        <hr/>

        {{ m.header("section2", "<strong>Your address</strong>") }}
        {{ m.wtf(form.street) }}
        {{ m.wtf(form.city) }}
        {{ m.wtf(form.zip) }}
        {{ m.wtf(form.country) }}

        <hr/>

        {{ m.header("section_sponsorship", """<strong>Sponsorship</strong><br/>
        We will be offering financial support to a small number of participants
        who couldn't otherwise afford to come to " + conf_data["shortname"] + " (see explanation at the
        top of the page). If you would like to make a donation to help
        finance this sponsorship program, just enter the value below, and we will transfer it
        via Paypal together with your registration fee.
        """) }}
        {{ m.wtf(form.donation) }}


        <hr/>

        {{ m.header("section3", """<strong>The voice part you would like to sing.</strong><br/>
        If you like, you can enter an alternative voice part in addition
        to your favorite voice part. We will accept the same number of participants from each voice part, and may transfer you to
        your alternative part if this is necessary to balance the parts out.""") }}

        {{ m.wtf(form.part1) }}
        {{ m.wtf(form.part2) }}

        <hr/>

        {{ m.header("section4", """<strong>Are you a member of EHB?</strong><br/> If so, you don't have to answer any questions about your musical experience.""") }}

        {{ m.wtf(form.member) }}

        {{ m.header("section4", """<strong>For non-EHB members: Tell us a bit about your musical experience.</strong><br/> A Harmony Brigade is an event for experienced
        quartet singers or musicians. We will assume a certain level of experience in the selection process
        to ensure that all participants will have a great time singing with each other.""") }}

        {{ m.wtf(form.exp_quartet, fclass="ta") }}
        {{ m.wtf(form.exp_brigade, fclass="ta") }}
        {{ m.wtf(form.exp_chorus, fclass="ta") }}
        {{ m.wtf(form.exp_musical, fclass="ta") }}
        {{ m.wtf(form.exp_reference, fclass="ta") }}


        <hr/>

        {{ m.header("sectionIQ", """<strong>Instant Quartet integration.</strong><br/> If you have an account on <a href='http://www.instantquartet.org'>Instant Quartet</a>,
        you can optionally enter it here. We will then print your Instant Quartet QR code on your badge at " + conf_data["shortname"] + ". Note that you should enter your account name (= email address) here,
        not your user name (= real name).""") }}

        {{ m.wtf(form.iq_username) }}

        <hr/>

        {{ m.wtf(form.comments, fclass="ta") }}

        {{ m.header("section5", """<strong>Important:</strong> By clicking on the \"Submit\" button below, you apply for participation in the
        " + conf_data["name"] + ".
        Please review your data carefully before clicking the button; you will not have a chance to change it later. When you click on
        \"Submit\", we will redirect you to Paypal, where you will be asked to pay the registration fee of € " + conf_data["s_application_fee"] + ", plus your sponsorship
        donation if you made one. The recipient is
        \"BinG Barbershop in Germany\".""") }}

        {{ m.header("section6", """If you have a sponsorship discount, you can enter the discount code below.""") }}

        {{ m.wtf(form.discount_code) }}

        {{ m.header("section7", """<strong>Your acknowledgment:</strong> I have read all the application information for " + conf_data["shortname"] + ". I will make sure that if I am invited
        and attend the European Harmony Brigade, I will be completely prepared. I will know all my notes, words, and the interpretation
        of all the songs. <strong><i>I will be the reason all the people I sing with will be glad they attended.</i></strong> All of the
        information I've included is true.""") }}

        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="submit"></label>
            <div class="controls">
                <button id="submit" name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}
