{% extends "main.html" %}
{% import "macros.html" as m %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <hr/> <p class="error"> {{ message }} </p>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="page-header"> <h1>Executing your payment</h1> </div>


<div>
<p>
Hello, {{ prt.firstname }} {{ prt.lastname }}!
</p>

{% if total_amount > 0 %}
    <p>On this page, you can make your payment for {{ conf_data["shortname"] }}.
    </p>

    <p>Our records show that you still need to pay for the following items:</p>

    <table class="table">
        {% for item in payment_items %}
          <tr><td>{{ item.name }}</td>  <td>€ {{ item.amount }}</td><td><a href="{{ item.pretix_url }}">Pay</a></td></tr>
        {% endfor %}

        <tr><td><strong>Total:</strong></td>  <td><strong>€ {{ total_amount }}</strong></td><td></td></tr>
    </table>

{% else %}
<p>You have completed all of your payments. Thank you!</p>
{% endif %}
</div>


{% endblock %}
