{% set contentwidth="span12" %}
{% extends "main.html" %}
{% import "macros.html" as m %}

{% block content %}

{# emails_with_participants: list of pairs (table.Email, table.Participant for the recipient) #}
{# message: message to be printed at the start #}
{# title: page title, if you want one #}

<p>Please double-check that the {{ num_emails }} emails below are correct.</p>

<p>Click on a button below to either send or revise them.</p>

<form action="mailtool.html" method="post">
    {{ form.recipients() }}
    {{ m.wtf(form.subject, hide="hidden") }}
    {{ m.wtf(form.replyto, hide="hidden") }}
    {{ m.wtf(form.body, fclass="ta", hide="hidden") }}

    <button id="submit" name="submit" type="submit" value="send" class="btn btn-danger">Send</button>
    <button id="submit" name="submit" type="submit" value="revise" class="btn btn-primary" style="margin-left: 6em; margin-top: -4.2ex;">Revise</button>
</form>

<hr/>


{% for email, prt in emails_with_participants %}
<p>
    <strong>To:</strong> {{ prt.fullname() }} &lt;{{ prt.email }}&gt; <br/>
    <strong>Subject:</strong> {{ email.subject }} <br/>
    <strong>Sent:</strong> {{ email.timestamp|ft }} <br/>
    {% if email.replyto %}
      <strong>Reply-To:</strong> {{ email.replyto }} <br/>
    {% endif %}

    <pre>{{ email.body }}</pre>
</p>

<hr/>
{% endfor %}

{% endblock %}
