{% set contentwidth="span12" %}
{% extends "main.html" %}
{% import "macros.html" as m %}

{% block content %}

	<h1>{{ conf.shortname }} Extras for {{ prt.firstname }} {{ prt.lastname }}</h1>

    <p>Please check that the following information is correct. Your extras booking is not complete until
        you have paid the total amount under "Pay Now" via Paypal. In addition, please be prepared to pay
        the amount under "Pay to Hotel" when you check in at the hotel.    </p>

    <p>If you wrote any comments in free-text fields, these comments have been stored in our database.
    We are not displaying them below.</p>

    {% include "extras_table.html" %}

    <form class="form-horizontal" action='extras_payment.html' method="post">
        <input type="hidden" name="code" value="{{ prt.code }}" />
        <input type="hidden" name="pay_now" value="{{ pay_now }}" />

        <button id="submit" name="submit" type="submit" class="btn btn-primary">Pay via Paypal</button>
    </form>
{% endblock %}