{% set contentwidth="span12" %}
{% extends "main.html" %}

{% block content %}
{% if message %}
<p class="message">
    {{ message }}
</p>
{% endif %}

<table class="table table-striped pretty" id="datatable">
    <thead>
    <tr> <th>Name</th> <th>Sex</th> <th>Location</th> <th>Part 1</th> <th>Part 2</th>
         <th>Status</th> <th>Final fee</th> <th>Donation</th> <th>Application time</th></tr>
    </thead>

    <tbody>
    {% for participant in participants %}
    <tr><td><a href="show-participant.html?id={{ participant.id }}">{{ participant.fullnameLF() }}</a></td>
        <td>{{ participant.shortsex() }}</td> <td>{{ participant.city_with_country() }}</td>
        <td>{{ participant.part1|part }}</td> <td>{{ participant.part2|part }}</td>
        <td>{{ participant.registration_status|reg_status }}
        <td>{{ participant.final_fee }}</td>
        <td>{{ participant.donation }}</td>
        <td>{{ participant.application_time|ft }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

&nbsp;<br/>
&nbsp;<br/>

<h2>Overview of paid applications</h2>
<table>
    <tr >
        <td class="chart-cell"><canvas id="countryChart" width="200" height="200"></canvas></td>
        <td class="chart-cell"><canvas id="partChart" width="200" height="200"></canvas></td>
    </tr>
    <tr >
        <td class="chart-label-cell">by country</td>
        <td class="chart-label-cell">by part</td>
    </tr>
</table>

<h2>Total donations</h2>
<p>Total donations: {{ total_donations }} EUR</p>

<script src="static/libs/Chart.min.js"></script>
<script type="text/javascript">
    Chart.defaults.global.animation = false;

    var cdata = [ {{ country_data|join(",")|safe }} ];
    var cctx = document.getElementById("countryChart").getContext("2d");
    var cchart = new Chart(cctx).Doughnut(cdata);

    var pdata = [ {{ part_data|join(",")|safe }} ];
    var pctx = document.getElementById("partChart").getContext("2d");
    var pchart = new Chart(pctx).Doughnut(pdata);
</script>

<script type="text/javascript" charset="utf-8">
		  $(document).ready(function() {
		    $("#datatable").DataTable( {
			  "bPaginate": false,
			  "bFilter": false,
			  "bSort" : true,
			  "bAutoWidth" : false
			})
          });
</script>
{% endblock %}


{% block navbar %}
<nav id="nav-main" role="navigation">
    <div class="menu-primary-navigation-container"><ul id="menu-primary-navigation" class="nav"><li class="menu-home current-menu-item active"><a href="/">Home</a></li>
    </ul></div>          </nav>
{% endblock %}
