{% extends "main.html" %}

{% block content %} hallo {% endblock %}


{% block navbar %}
<nav id="nav-main" role="navigation">
    <div class="menu-primary-navigation-container"><ul id="menu-primary-navigation" class="nav"><li class="menu-home current-menu-item active"><a href="/">Home</a></li>
        <li class="menu-venue-details"><a href="/venue-details/">Venue Details</a></li>
        <li class="menu-weekend-timetable"><a href="/weekend-timetable/">Weekend Timetable</a></li>
        <li class="menu-registration-for-2014"><a href="/registration/">Registration for 2014</a></li>
        <li class="menu-music-downloads"><a href="/music-downloads/">Music Downloads</a></li>
    </ul></div>          </nav>
{% endblock %}